@model List<Person>
@{
    ViewData["Title"] = "Home Page";
    var timeInfo = TempData["TimeInfo"] as TimeInfo;
}


<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <button type="button" class="clean-cache-button btn btn-success">Clean Cache</button>
        </div>
          <div class="col-12">
              Source : @timeInfo.Source Execution time : @timeInfo.ExecutionTime   
          </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h4>Person List</h4>
        </div>
        <div class="col-12">
            <table class="table  person-list-table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Job</th>
                    <th scope="col">Mail</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FullName</td>
                        <td>@item.Job</td>
                        <td>@item.Email</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js" integrity="sha512-MqEDqB7me8klOYxXXQlB4LaNf9V9S0+sG1i8LtPOYmHqICuEZ9ZLbyV3qIfADg2UJcLyCm4fawNiFvnYbcBJ1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        
        document.querySelector(".clean-cache-button").addEventListener("click",()=>{
            $.post("/Home/CleanCache",{},(res)=>{
                if (res.status){
                 swal("Success", res.message, "success");
                }
                else{
                 swal("Error", res.message, "error");
                }
            });
        }); 
        
    </script>
}